*{
    border: 1px red
}
body{
     background-color: darkgrey;
     color: #fff;
            
        }
.Profile-Picture{
     border-radius: 50%;
     border: 5px solid;
     border-color: #D09147;
     border-style: double; 
        }
        
p{
    font-size: 20px;
}                                   

li{
    font-size: 20px;
}
#name{
    font-size: 40px;
}
.padding{
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}
#contact{
    padding-left: 100px;
}

#education{
    border: 1px darkred;
}
#work{
    border: 1px darkred;
    
}
#wrkEdu{
    border: 1px darkred;
}